@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');

*{
  margin: 0;
  padding:0;
}
/* --------- TITLE --------- */

.sub-title{
  font-family:'Roboto Slab', serif;
}

@media (min-width:1080px) {
  .title-type{
    width: 25ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

a .nav-link{
  text-decoration: none;
  color: black;
}
.title{
  font-family:'Roboto Slab', serif;
  font-size: 60px;
}

.button{
  background-color:#395be0;
  font-weight: bold;
  color: white;
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 15px;
  box-shadow: 0px 2px 1px 1px  #000000;
  transition: ease-in-out 0.1s;
}
.button:hover{
  background-color: #3a55c2;
  transform: translateY(-3px);
  box-shadow: 0px 3px 2px 2px  #000000;
  color: white;
}
.button:active{
  transform: translateY(2px);
  box-shadow: 0px 3px 2px 2px  #000000;
}
.responsive {
  width: 50%;
  height: auto;
}

.sub-title{
  font-family:'Roboto Slab', serif;
}
.button1{
  background-color: #FFF463;
  font-weight: bold;
  color: black;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: -2px 2px 3px 1px #000000;
  transition: ease-in-out;
  
}
.button1:hover{
  background-color: #f0e65a;
  color: black;
  transform: translateY(-2px);
}
.button1:active{
transform: translateY(1px);
box-shadow: -2px 2px 3px 1px #000000;
}

.button2{
  background-color:#68e5a2;
  font-weight: bold;
  color: black;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 1px  #000000;
  transition: ease-in-out;
}
.button2:hover{
  background-color:#60d697;
  color: black;
  transform: translateY(-2px);
}
.button2:active{
  transform: translateY(1px);
  box-shadow: 2px 2px 3px 1px  #000000;
}

.button3{
  background-color: #f1b280;
  font-weight: bold;
  color: black;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: -2px 2px 3px 1px  #000000;
  transition: ease-in-out;
}
.button3:hover{
  background-color: #d69f72;
  color: black;
  transform: translateY(-2px);
}
.button3:active{
  transform: translateY(1px);
  box-shadow: -2px 2px 3px 1px #000000;
  }

.card-body{
  grid-template-rows: auto;
  cursor: pointer;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 0 5px 15px -5px rgba(0,0,0, 0.6);
  transition: ease 0.1s;

}
@media (max-width:1199px) {
  .card-body{
    box-sizing: content-box;
    max-height: 18.8rem;  
  }
}
.learn-more{
  align-items: baseline;
}
.card-body:hover{
  background-color: rgb(244, 244, 244);
}
