.nav-bar{
  background-color: white;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  display:block;
  box-shadow: 0px 1px 2px -2px  #000000;  
}
.image{
  padding-top: 11px;
}

.li-nav{
  list-style-type: none;
  display:flex;
  gap: 2rem;
  align-items: baseline;
  margin-top: 20px;
  font-size: medium;
  font-weight: bolder;
  font-family: 'figtree', sans-serif;
}
.FREE{
  background-color: #000000;
  font-weight: 500;
  color: white;
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  display: inline-block;
  transition: ease 0.2s;
}
.FREE:hover{
  transform: translateY(-5px);
}

.a-nav{
 text-decoration: none;
 color: #000000;
}
.a-nav:hover{
  color:  rgb(151, 151, 151);
}

/* -------------------- RESPONSIVE NAV-BAR ---------------------- */
.ul-top{
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  align-items: flex-end;
  justify-content: end;
  
  align-content: flex-end;
  align-self: flex-end;
}

.free-nav-font{
 
  background-color: #000000;
  font-weight: 500;
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  display: inline-block;
}

.topnav {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  box-shadow: 0px 0px 2px -2px  #000000;      
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
  display: block;

}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav #myLinks {
  display: none;
  justify-content: end;

}
#myLinks{
  align-items: flex-end;
  justify-content: end;
}
@media (max-width:1200px) {
  .nav-bar{
    display: none;
  }
}

@media (min-width:1199px) {
  .topnav {
    display: none;
  }
};