@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');

*{
  margin: 0;
  padding:0;
}
/* --------- NAV BAR --------- */
.li-nav{
  list-style-type: none;
  display:flex;
  gap: 2rem;
  align-items: baseline;
  padding-top: 20px;
  font-size: medium;
  font-weight: bolder;
  font-family: 'figtree', sans-serif;
}
.FREE{
  background-color: #000000;
  font-weight: 500;
  color: white;
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  display: inline-block;
  transition: ease 0.2s;
}
.FREE:hover{
  transform: translateY(-5px);
}

.a-nav{
 text-decoration: none;
 color: #000000;
}
.a-nav:hover{
  color:  rgb(151, 151, 151);
}

/* --------- TITLE --------- */

.sub-title{
  font-family:'Roboto Slab', serif;
}

.title-type{
  width: 23ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

a .nav-link{
  text-decoration: none;
  color: black;
}
.title{
  font-family:'Roboto Slab', serif;
  font-size: 60px;
}

.button{
  background-color:#395be0;
  font-weight: bold;
  color: white;
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 15px;
  box-shadow: 0px 2px 1px 1px  #000000;
  transition: ease-in-out;
}
.button:hover{
  background-color: #3a55c2;
  color: white;
}
.responsive {
  width: 50%;
  height: auto;
}

.icons{
  align-items: baseline;
}
.sub-title{
  font-family:'Roboto Slab', serif;
}
.button1{
  background-color: #FFF463;
  font-weight: bold;
  color: black;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: -2px 2px 3px 1px #000000;
  transition: ease-in-out;
}
.button1:hover{
  background-color: #f0e65a;
  color: black;
}

.button2{
  background-color:#68e5a2;
  font-weight: bold;
  color: black;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 1px  #000000;
  transition: ease-in-out;
}
.button2:hover{
  background-color:#60d697;
  color: black;
}
.button3{
  background-color: #f1b280;
font-weight: bold;
  color: black;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow:2px 2px 3px 1px  #000000;
  transition: ease-in-out;
}
.button3:hover{
  background-color: #d69f72;
  color: black;
}

/*------------------ FOOTER ------------------*/
.responsive2{
  width: 80%;
  height:auto;
}

.footer{
  background-color: black;
  margin-top: 5rem;
}
.rodape{
  background-color: black;
  color: rgb(211, 211, 211);
  padding-top: 5rem !important; /* top, right, bottom, left */
  padding-bottom:10rem;
  margin-bottom: 0px !important;
}

.rodape-title{
  color: rgb(151, 151, 151);
}

.sem-marcador{
  list-style-type: none;
  padding: 0;
  color: rgb(219, 219, 219);
}

li{
  padding-top: 5px;
}

.a-link-footer{
  text-decoration: none;
  color: rgb(219, 219, 219);
}

.a-link-footer:hover{
  color: rgb(151, 151, 151);
  transition: ease-in-out 0.1s;
}

.end-footer li{
 list-style-type: none;
 display: inline-block;
 margin-right: 15px;
 padding-bottom: 5rem;
}

.footer-end{
  padding-top: 2rem;
}